<nav class="navbar navbar-dark bg-primary p-3 mb-4">
  <a class="navbar-brand text-white" href="#">Add New Task</a>
</nav>

<%= render 'form' %>
<%= link_to "Back to Task List", tasks_path, class: "btn btn-secondary mt-3" %>
